<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
          rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  />
  <!--    <link rel="stylesheet" href="/taskManager.css" />-->
  <link rel="stylesheet" href="/emailDetail.css" />
  <title>Email</title>
</head>
<body>
<div class="sidebar">
  <div class="sidebar-menu">
    <div class="logo">
      <h1>
        <a href="/user" style="text-decoration: none; font-size: 35px"
        >TDTU MAIL</a
        >
      </h1>
    </div>
    <ul class="b">
      <li>
        <span class="modal__open"/>
        <span class="las la-pen"></span>
        <button>Compose</button>
      </li>
      <li>
        <a href="/user" th:class="${archive == 'INBOX'}?'active a':'a'">
          <span class="las la-clipboard-list"></span>
          <span>Inbox</span>
        </a>
      </li>
      <li>
        <a href="/user/viewStar" th:class="${archive == 'STAR'}?'active a':'a'">
          <span class="las la-star"></span>
          <span>Starred</span></a
        >
      </li>
      <li>
        <a href="/user/viewSent" th:class="${archive == 'SENT'}?'active a':'a'">
          <span class="las la-check-square"></span>
          <span>Sent</span></a
        >
      </li>
      <li>
        <a href="/user/viewDraft" th:class="${archive == 'DRAFT'}?'active a':'a'">
          <span class="las la-book"></span>
          <span>Drafts</span></a
        >
      </li>
      <li>
        <a href="/user/viewTrash" th:class="${archive == 'DELETE'}?'active a':'a'">
          <span class="las la-trash"></span>
          <span>Trash</span></a
        >
      </li>
    </ul>
    <div class="lable">
      <span>Labels</span>
      <span class="las la-plus"></span>
    </div>
  </div>
</div>
<div class="main-content">
  <header>
    <div class="search__container">
      <input class="search__input" type="text" placeholder="Search" />
      <span class="las la-search search"></span>
    </div>
    <div
            class="info"
            style="
            display: flex;
            gap: 7px;
            border: 1px solid #5f6368;
            padding: 6px;
            border-radius: 9px;
            align-items: center;
          "
    >
      <div style="text-align: center; color: #fff; font-size: 19px">
        <img
                style="width: 67px; margin-top: 4px; height: 34px"
                src="/assets/TĐT_logo.png"
                alt=""
        />
      </div>

      <div class="dropdown" style="float: right">
        <div class="avatar">
          <img
                  th:src="@{/assets/{avatar}(avatar= ${user.avatar}) }"
                  alt="avatar"
          />
        </div>
        <div class="dropdown-content">
          <button
                  onclick="openForm()"
                  style="
                  border: none;
                  width: 100%;
                  border-top-left-radius: 12px;
                  border-top-right-radius: 12px;
                "
          >
            <a style="text-decoration: none; color: black" href="#"
            >See your profile</a
            >
          </button>
          <button
                  onclick="openFormEdit()"
                  style="border: none; width: 100%"
          >
            <a style="text-decoration: none; color: black" href="#"
            >Edit profile</a
            >
          </button>
          <button
                  onclick="openFormChangePassword()"
                  style="border: none; width: 100%"
          >
            <a style="text-decoration: none; color: black" href="#"
            >Change password</a
            >
          </button>
          <button
                  onclick="openFormBlock()"
                  style="border: none; width: 100%"
          >
            <a style="text-decoration: none; color: black" href="#"
            >List block account</a
            >
          </button>
          <button
                  style="
                  border: none;
                  width: 100%;
                  border-bottom-left-radius: 12px;
                  border-bottom-right-radius: 12px;
                "
          >
            <a style="text-decoration: none; color: black" href="/logout"
            >Sign out</a
            >
          </button>
        </div>
      </div>
    </div>
  </header>
  <div class="ttile_content_email">
    <div class="avatar_content_email">
      <img
              th:src="@{/assets/{avatar}(avatar= ${email.sender.avatar}) }"
              alt="sender avatar"
      />
    </div>
    <div class="main_content_email">
      <div class="title__content_email">
        <h3 th:text="email.title"/>
        <span th:text="${email.archive}"/>
      </div>
      <div>
        <div class="sender_content_email">
          <span class="sender" th:text="${email.sender.name}"></span>
            <span th:text="${email.sender.email}"></span>
        </div>
        <div>to me</div>
        <span class="content_content_email" th:text="${email.body}"></span>
      </div>
     <button class="reply" id="replyBtn">
        <i class="fa-solid fa-arrow-left"></i>
        <span>Reply</span>
      </button>
    </div>
  </div>
</div>
<!--soạn mail to send-->
<div class="modal hide">
  <div class="modal__inner">
    <div class="modal__inner--header">
      <p style="color: #282828">new Message</p>
    </div>
    <form method="post" action="/email/send">
      <div class="modal__inner--body">
        <div class="c">
              <span>
                To:
                <input name="receiverEmail" type="text" class="reci" />
              </span>
          <span>
                Title:
                <input name="title" type="text" class="subject" />
              </span>
        </div>
        <textarea
                name="body"
                id=""
                cols="30"
                rows="10"
                class="contentEmail"
        ></textarea>
        <input name="archive" value="INBOX" id="emailArchive" />
      </div>
      <div class="modal__inner--footer">
        <button
                type="submit"
                id="btnCloseEmail"
                class="footer__close close"
        >
          Close
        </button>
        <button type="submit" id="btnSendEmail" class="footer__close">
          Send
        </button>
      </div>
    </form>
  </div>
</div>

<!--soạn mail to reply-->
<div id="replyModal" class="modal hide">
  <div class="modal__inner">
    <div class="modal__inner--header">
      <p style="color: #282828">Reply</p>
    </div>
    <form method="post" action="/email/send">
      <div class="modal__inner--body">
        <div class="c">
              <span>
                To:
                <input name="receiverEmail" type="text" class="reci" />
              </span>
          <span>
                Title:
                <input name="title" type="text" class="subject" />
              </span>
        </div>
        <textarea
                name="body"
                cols="30"
                rows="10"
                class="contentEmail"
        ></textarea>
        <input name="archive" value="INBOX" id="replyEmailArchive" />
      </div>
      <div class="modal__inner--footer">
        <button
                type="submit"
                id="btnCloseReply"
                class="footer__close close"
        >
          Close
        </button>
        <button type="submit" id="btnSendReply" class="footer__close">
          Send
        </button>
      </div>
    </form>
  </div>
</div>

<!--  see information of user-->
<div class="Popup">
  <div class="PopupDetail" id="popupInfo">
    <i
            class="fa-sharp fa-solid fa-xmark icon-exit"
            style="cursor: pointer; float: right; font-size: 25px; padding: 8px"
            onclick="closeForm()"
    ></i>
    <div class="popup-Container" style="padding-top: 40px">
      <h2 style="font-size: 24px; margin-bottom: 8px">
        Information of Account
      </h2>

      <div style="margin-top: 40px">
        <img
                th:src="@{/assets/{avatar}(avatar= ${user.avatar}) }"
                alt=""
                style="
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 999px;
              "
        />
        <div style="margin-top: 12px">
          <p style="font-size: 18px; margin-bottom: 2px">
            [[${user.name}]]
          </p>
          <p style="font-size: 16px">[[${user.email}]]</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  edit information for user-->
<div class="Popup">
  <div class="PopupDetail" id="popupEdit">
    <i
            class="fa-sharp fa-solid fa-xmark icon-exit"
            style="cursor: pointer; float: right; font-size: 25px; padding: 8px"
            onclick="closeFormEdit()"
    ></i>
    <form
            action="/user/editInfo"
            method="post"
            enctype="multipart/form-data"
            class="popup-Container"
    >
      <h2 style="font-size: 24px">Edit your information</h2>

      <div style="margin: 80px 0 10px 0">
        <label for="name" style="font-size: 16px">Name:</label>
        <input
                type="text"
                name="name"
                id="name"
                th:value="${user.name}"
                style="margin-left: 8px; height: 30px; width: 350px"
        />
      </div>

      <div style="padding: 8px; margin: 10px 0 10px 0">
        <label for="avt" style="font-size: 16px">Choose new Avatar:</label>
        <input
                type="file"
                name="avatar"
                id="avt"
                accept="image/png, image/jpeg"
        />
      </div>

      <div
              th:if="${errorMsgOfEditInfo != null}"
              class="form-group"
              style="
              border-radius: 10px;
              font-size: 15px;
              color: #efefef;
              height: 30px;
              margin-top: 10px;
              text-align: center;
            "
      >
        <p
                style="
                background-color: #d04646;
                height: 25px;
                border-radius: 8px;
              "
                th:text="${errorMsgOfEditInfo}"
        ></p>
      </div>

      <div
              th:if="${SuccessMsgOfEditInfo!=null}"
              class="form-group"
              style="
              border-radius: 10px;
              font-size: 15px;
              color: #efefef;
              height: 30px;
              margin-top: 10px;
              text-align: center;
            "
      >
        <p
                style="
                background-color: #34ac48;
                height: 25px;
                border-radius: 8px;
              "
                th:text="${SuccessMsgOfEditInfo}"
        ></p>
      </div>

      <button type="submit" class="btn-Change">Change</button>
    </form>
  </div>

  <!--  change password for user-->
  <div class="Popup">
    <div class="PopupDetail" id="popupChangePassword">
      <i
              class="fa-sharp fa-solid fa-xmark icon-exit"
              style="cursor: pointer; float: right; font-size: 25px; padding: 8px"
              onclick="closeFormChangePassword()"
      ></i>
      <form
              action="/user/changePassword"
              method="post"
              class="popup-Container"
      >
        <h2 style="font-size: 24px">Change password</h2>

        <div style="margin: 60px 0 10px 0">
          <label for="oldPass" style="font-size: 16px; float: left"
          >Old Password:</label
          >
          <input
                  type="password"
                  name="oldPass"
                  id="oldPass"
                  style="margin-left: 8px; height: 25px; width: 335px"
          />
        </div>

        <div style="margin: 10px 0 10px 0">
          <label for="newPass" style="font-size: 16px; float: left"
          >New password:</label
          >
          <input
                  type="password"
                  name="newPass"
                  id="newPass"
                  style="margin-left: 8px; height: 25px; width: 335px"
          />
        </div>

        <div style="margin: 10px 0 10px 0">
          <label for="confPass" style="font-size: 16px; float: left"
          >Confirm password:</label
          >
          <input
                  type="password"
                  name="confPass"
                  id="confPass"
                  style="margin-left: 8px; height: 25px; width: 310px"
          />
        </div>
        <div
                th:if="${errorMsgOfChangePassword != null}"
                class="form-group"
                style="
                border-radius: 10px;
                font-size: 15px;
                color: #efefef;
                height: 30px;
                margin-top: 10px;
                text-align: center;
              "
        >
          <p
                  style="
                  background-color: #d04646;
                  height: 25px;
                  border-radius: 8px;
                "
                  th:text="${errorMsgOfChangePassword}"
          ></p>
        </div>

        <div
                th:if="${SuccessMsgOfChangePassword!=null}"
                class="form-group"
                style="
                border-radius: 10px;
                font-size: 15px;
                color: #efefef;
                height: 30px;
                margin-top: 10px;
                text-align: center;
              "
        >
          <p
                  style="
                  background-color: #34ac48;
                  height: 25px;
                  border-radius: 8px;
                "
                  th:text="${SuccessMsgOfChangePassword}"
          ></p>
        </div>
        <button style="margin-top: 8px" type="submit" class="btn-Change">
          Change
        </button>
      </form>
    </div>
  </div>

  <!--  List of block account-->
  <div class="Popup">
    <div class="PopupDetail" id="popupBlock" style="top: 20%">
      <i
              class="fa-sharp fa-solid fa-xmark icon-exit"
              style="cursor: pointer; float: right; font-size: 25px; padding: 8px"
              onclick="closeFormBlock()"
      ></i>
      <div class="popup-Container" style="padding-top: 40px">
        <h2 style="font-size: 24px; margin-bottom: 8px">
          List of account blocked
        </h2>

        <div style="margin-top: 30px">
          <img src="avt1.png" alt="" style="width: 80px" />
          <div style="margin-top: 12px">
            <p style="font-size: 16px; margin-bottom: 2px">
              Pham Phuoc Tan
            </p>
            <p style="font-size: 14px">tanphuocdt1@tdtu.vn</p>
          </div>
        </div>

        <div style="margin-top: 20px">
          <img src="avt1.png" alt="" style="width: 80px" />
          <div style="margin-top: 12px">
            <p style="font-size: 16px; margin-bottom: 2px">
              Pham Phuoc Tan
            </p>
            <p style="font-size: 14px">tanphuocdt1@tdtu.vn</p>
          </div>
        </div>

        <div style="margin-top: 20px">
          <img src="avt1.png" alt="" style="width: 80px" />
          <div style="margin-top: 12px">
            <p style="font-size: 16px; margin-bottom: 2px">
              Pham Phuoc Tan
            </p>
            <p style="font-size: 14px">tanphuocdt1@tdtu.vn</p>
          </div>
        </div>

        <div style="margin-top: 20px">
          <img src="avt1.png" alt="" style="width: 80px" />
          <div style="margin-top: 12px">
            <p style="font-size: 16px; margin-bottom: 2px">
              Pham Phuoc Tan
            </p>
            <p style="font-size: 14px">tanphuocdt1@tdtu.vn</p>
          </div>
        </div>

        <div style="margin-top: 20px">
          <img src="avt1.png" alt="" style="width: 80px" />
          <div style="margin-top: 12px">
            <p style="font-size: 16px; margin-bottom: 2px">
              Pham Phuoc Tan
            </p>
            <p style="font-size: 14px">tanphuocdt1@tdtu.vn</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="/emailDetail.js"></script>
</html>
